body{
    font-family: 'Roboto';
    margin: 0;
    /* background-color: #1f2937; */
}

.header{
    background-color: #1f2937;
    height: 660px;
}

#logo{
    width: 120px;
    height: auto;
    padding-left: 60px;
}

ul{
    list-style-type: none;
    font-size: 18px;
    padding: 0;
    margin: 0;
    padding-right: 60px;
}

a{
    text-decoration: none;
    color: #e5e7eb
}

.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

.list{
    display: flex;
    gap: 16px;
}

#penguin-1{
    border-radius: 30px;
    width: 500px;
    height: auto;
}

.bottom-header{
    display: flex;
    align-items: center;
    padding-left: 200px;
    padding-top: 100px;
    /* border: 4px solid red; */

}

.bottom-left{
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 240px;
    gap: 16px;
    padding-left: 50px;
    padding-right: 35px;
    /* border: 4px solid red; */
}

#hero-txt{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    /* border: 4px solid red; */
}

#hero-txt2{
    color: #e5e7eb;
    font-size: 18px;
    /* border: 4px solid red; */
}

button{
    background-color: #3882f7;
    color: #F9FAF8;
    font-size: 18px;
    width: 111px;
    height: 33px;
    border: 4px;
    border-radius: 10px;
    padding: 8px;
}

.body-header{
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;

    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}


.body-body{
    display: flex;
    flex-direction: column;
}

.body-2{
    display: flex;
    justify-content: center;
    gap: 35px;
}

.penguin-2{
    height: 200px;
    width: 200px;
    border: 4px solid #3882f7;
    border-radius: 25px;
}

.body-txt{
    width: 200px;
    text-align: center;
    font-size: 18px;
    color:#1f2937;
    padding-top: 10px;
    padding-bottom: 60px;
}

.quote-section{
    background-color: #e5e7eb;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

.author{
    font-size: 18px;
    padding-left: 1200px;
    padding-top: 30px;
    color: #1f2937;
    font-weight: bold;
}


.cta-wrapper{
    display: flex;
    justify-content: center;
    align-self: center;
}

.CTA{
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #3882f7;
    width: 1026px;
    height: 129px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
}

.CTA-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;

}

.cta-txt1{
    color:#F9FAF8;
    font-size: 21px;
}

.cta-txt2{
    color: #e5e7eb;
    font-size: 18px;
}

.cta-btn{
    color: #e5e7eb;
    text-align: center;
    font-size: 18px;
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    width: 120px;
    height: 40px;
}

.footer{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82px;
    text-align: center;
    padding-top: auto;
    color: #F9FAF8
}